.container{
    display:inline-block;
       background-color:cornflowerblue;
       margin:20X;
       width:19%;
       
}
body {
    background-size: 100%;
    background-image: url(back.jpg);
    
}

h1 {
    font-style: italic;
    font-weight: 100;
    font-size: 40px;
}
#intro{
    background-color:lightpink;
    background-origin:content-box;
    width:40%;
    height:40%;
}
#pic {
    width: 40%;
    float: right;
    shape-outside:circle(lightpink);
    margin-right: 200px;
}



p {
    font-size: 18px;
}

h2 {
    list-style: none;
}
h3{
    background-color:lightseagreen;
    border:groove;
    height:30px;
}
